body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    scroll-behavior: smooth;
}
.container {
    width: 100%;
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}
.slide {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
    background: url('background.png') no-repeat center center;
    background-size: cover;
    padding: 0 20px;
    box-sizing: border-box;
    transition: opacity 0.5s ease-in-out;
    scroll-snap-align: start;
}
.btn {
    display: inline-block;
    background: #d63384;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    transition: 0.3s;
}
.btn:hover {
    background: #b82b6c;
}