@font-face {
    font-family: 'KGPerfect Penmanship';
    src: url('fonts/KGPerfectPenmanship.otf') format('opentype');
}

@font-face {
    font-family: 'Lobster';
    src: url('fonts/Lobster.ttf') format('truetype');
}

@font-face {
    font-family: 'Monofonto';
    src: url('fonts/Monofonto.otf') format('opentype');
}

body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    scroll-behavior: smooth;
}

.container {
    width: 100%;
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

.slide {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 1);
    padding: 0 20px;
    box-sizing: border-box;
    transition: opacity 0.5s ease-in-out;
    scroll-snap-align: start;
    background: url('imgs/background.png') no-repeat center center;
    background-size: cover;
}

.slide::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); /* Ajusta la opacidad aquí */
    z-index: 1;
}

.slide * {
    position: relative;
    z-index: 2;
}


.titulo-cursiva {
    font-family: 'Lobster';
    font-size: 40px;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 1);
}

.subtitulo-cursiva {
    font-family: 'Lobster';
    font-size: 28px;
    margin-top: 10px;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 1);
}

.texto-normal {
    font-family: 'Lobster';
    font-size: 15px;
    margin-top: 10px;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 1);
}

.texto-claro {
    font-family: 'KGPerfect Penmanship';
    font-size: 20px;
    margin-top: 10px;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 1);
}

.fecha-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 250px;
    margin: 0 auto;
}

.mes {
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-weight: bold;
}

.linea {
    width: 100%;
    height: 2px;
    background-color: #876c86;
    margin: 10px 0;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.dia-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.dia-semana {
    font-family: 'KGPerfect Penmanship';
    font-size: 1.2em;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 1);
}

.dia-numero {
    font-family: 'KGPerfect Penmanship';
    font-size: 1.2em;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 1);
}

.anio {
    font-family: 'KGPerfect Penmanship';
    font-size: 1.5em;
    margin-top: 10px;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 1);
}

/* Estilos para la sección de la foto y canción */
#cancion-foto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

/* Estilo para la foto */
.foto-invitacion {
    width: 60%;
    max-width: 300px;
    height: auto;
    border-radius: 15px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.6);
    transition: transform 0.3s ease-in-out;
}

/* Estilo para el reproductor de audio */
audio {
    width: 80%;
    max-width: 300px;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.5));
}

@keyframes bounce {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

.iconos-dresscode {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

.icono-dresscode {
    width: 80px;
    height: auto;
}

.icono-regalo, .icono-confirmar, .mapa-img {
    width: 80px;
    height: auto;
    cursor: pointer;
    animation: bounce 1.2s infinite ease-in-out;
    transition: transform 0.2s ease-in-out;
}

#countdown-section {
    text-align: center;
}

.countdown-container {
    display: inline-block;
    margin-top: 20px;
}

.countdown-numbers {
    font-family: 'Monofonto';
    font-size: 2.5rem;
    letter-spacing: 2px;
}

.countdown-labels {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    padding: 0 10px;
}

.countdown-labels span {
    width: 25%;
    text-align: center;
    font-weight: bold;
}